.hide {
	display: none;
}

.mw100{
	min-width:100px;
}

.mw200{
	min-width:160px;
}

.maw400{
	max-width:400px;
}

.mw150{
	min-width:150px;
}

.mh350{
	max-height:350px;
}

.loadingProcess {
	display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/loading.gif') 50% 50% 
                no-repeat;
}
.affix {
   top: 20px;
   z-index: 9999 !important;
 }

 .fixed {
  position: fixed;
  top: 120;    
  left: 400;
  z-index: 9999 !important; 
}