<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Kien Pham">
    <meta name="keywords" content="">
    <!-- Title Page-->
    <title>User Management</title>
    <!-- Fontfaces CSS-->
    
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
        
    
    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
	<link href="vendor/responsive.dataTables.min.css" rel="stylesheet" type="text/css">
	
	
	
    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
	<link href="css/style.css" rel="stylesheet" media="all" type="text/css">
</head>

<body >
    <div class="page-wrapper">        
		<div id="headerDiv"></div>		
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">            
						
			<div id="divAlert" class="container"></div>             
            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 top-campaign">                            
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                	<div id="breadcrumbDiv" class="container breadcrumbDiv"></div>		                                    		
                                </div>
                                <div class="table-data__tool-right">
                                    <button id="btnAdd" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>add user</button>                                    
                                </div>
                            </div>
                            <div id="divtblResult" class="table-responsive ">
								<table id="tblResult" class="table  table-top-campaign table-hover">
								   <thead>
										<tr>
											<th width="4%" class="chkBox"></th>
											<th data-priority="1" width="15%" style="text-align: left;" class="sorting">User ID</th>
											<th data-priority="2" width="25%" style="text-align: left;" class="sorting">Full Name</th>
											<th data-priority="5" width="15%" style="text-align: left;" class="sorting">Email</th>
											<th data-priority="6" width="7%" style="text-align: left;" class="sorting">Type</th>
											<th data-priority="5" width="7%" style="text-align: left;" class="sorting">Status</th>
											<th data-priority="6" width="20%" style="text-align: left;" class="sorting">Address</th>	
											<th data-priority="1" width="1%">Action</th>																				
										</tr>
									</thead>
									<tbody>											
									</tbody>
								</table>								
							</div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->                    
			<div id="divCopyright" class="container"></div>                      
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js"></script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <!-- Main JS-->
    <script type="text/javascript" src="js/main.js"></script>	
	<script type="text/javascript" src="vendor/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="vendor/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="js/autodatabinding.js"></script>
	<script>
		var searchFormObj;
		var tableObj1;
		var editFormObj;
		$(document).ready(function() {	
				
		 	var divAndHtml = new Array ( );
			divAndHtml[0] = new Array ( 'headerDiv', 'header.html');			
			divAndHtml[1] = new Array ( 'divCopyright', 'copyright.html');		
			divAndHtml[2] = new Array ( 'divAlert', 'alert.html');				
			loadHtml(divAndHtml);
			
			var breadcrumb = new Array ( );
			breadcrumb[0] = new Array ( 'Home', '#');			
			breadcrumb[1] = new Array ( 'User Management', '');					
			createBreadcrumb('breadcrumbDiv',breadcrumb);
			
			var tableGroupObj= new TableClass();
			tableGroupObj.type="checkbox";
			tableGroupObj.bFilter=false;
			tableGroupObj.bPaginate=false;			
			tableGroupObj.bInfo=false;
			tableGroupObj.order=1;	
			tableGroupObj.tableId="#tblUserGroup";
			tableGroupObj.getTableData="getGroupUserList";		
			tableGroupObj.numberOfColumns=2;
			tableGroupObj.checkAllId="#checkAllGroup";
			
			var dropdownListEdit = new Array ( );
			dropdownListEdit[0] = new Array ( 'userType', 'userType',false);	
			dropdownListEdit[1] = new Array ( 'userStatus', 'userStatus',false);	
			editFormObj=new EditForm();
			editFormObj.idFieldName="id";
			editFormObj.editForm="#editModal";
			editFormObj.getDropDownValue="getAllCategories";
			editFormObj.dropdownList=dropdownListEdit;
			editFormObj.getValuesToBind="getUser";
			editFormObj.saveDataObject="addUser";
			editFormObj.editFormHtml="user_edit.html";
			editFormObj.saveButtonId=['#btnSave','tableObj1'];
			editFormObj.dataTableListObj=[tableGroupObj]; 
						
			tableObj1= new TableClass();
			tableObj1.type="edit";
			tableObj1.bFilter=true;
			tableObj1.bPaginate=true;
			tableObj1.pageLength=3;
			tableObj1.bInfo=true;
			tableObj1.bLengthChange=true;
			tableObj1.order=2;
			tableObj1.deleteController="deleteUsers";
			tableObj1.editFormObj=editFormObj;		
			tableObj1.tableId="#tblResult";
			tableObj1.getTableData="/user_paginated";
			tableObj1.buttonAddId="#btnAdd";	
			tableObj1.numberOfColumns=8;	
			tableObj1.bLazyTable=true;	
			tableObj1.searchPlaceholder="Type here to search user . . .";	
			tableObj1.loadTable();		
			
 			var dropdownListSearch = new Array ( );
			dropdownListSearch[0] = new Array ( 'userStatusSearch', 'userStatus',true);			
			
			searchFormObj=new EditForm();
			searchFormObj.idFieldName="id";
			searchFormObj.editForm="#searchName";
			searchFormObj.searchButton=['#searchButton','searchFormObj'];
			searchFormObj.getDropDownValue="getAllCategories";
			searchFormObj.getValuesToBind="getUserSearchForm";
			searchFormObj.dataTableListObj=[tableObj1];
			searchFormObj.dropdownList=dropdownListSearch; 
			//searchFormObj.initiateForm(); //This is for advance search but not able to load by paging.
		});
	</script>
</body>
</html>